absl-py==2.1.0
accelerate==1.1.0
ace_tools==0.0
addict==2.4.0
aeon==1.1.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
aistudio-sdk==0.3.8
alembic==1.13.3
altair==5.3.0
annotated-types==0.6.0
annoy==1.17.3
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.3.0
AnyQt==0.2.1
anytree==2.12.1
apted==1.0.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arviz==0.12.1
asgiref==3.9.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
autocuda==0.16
babel==2.16.0
backoff==2.2.1
backports.tarfile==1.2.0
baycomp==1.0.3
bce-python-sdk==0.9.46
beautifulsoup4==4.12.3
bertopic==0.16.4
biopython==1.81
bitsandbytes==0.45.5
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
boostaug==2.3.5
Bottleneck==1.5.0
braceexpand==0.1.7
cachetools==5.3.3
captum==0.7.0
catalogue==2.0.10
catboost==1.2.8
cattrs==24.1.3
certifi==2023.7.22
cffi==1.17.1
cfgv==3.4.0
cftime==1.6.3
chardet==4.0.0
charset-normalizer==3.3.1
click==8.2.1
clikit==0.6.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.0
commonmark==0.9.1
compressed-tensors==0.8.0
confection==0.1.3
contourpy==1.2.0
crashtest==0.3.1
cryptography==45.0.4
cycler==0.12.1
cymem==2.0.8
Cython==0.29.36
cytoolz==1.0.1
dacite==1.8.1
dataclasses-json==0.5.14
datasets==3.6.0
dbus-python==1.2.18
deap==1.4.3
debugpy==1.8.7
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
deprecat==2.1.1
Deprecated==1.2.18
desbordante==2.1.0
diceware==0.10
dictdiffer==0.9.0
dill==0.3.7
diptest==0.9.0
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
distro-info==1.1+ubuntu0.2
Django==4.2.23
django-auditlog==3.2.0
django-filter==25.1
django-js-asset==3.1.2
django-jsonform==2.23.2
django-mptt==0.14.0
djangorestframework==3.16.0
dnspython==2.6.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docstring_parser==0.16
doctr==1.9.0
docutils==0.21.2
docx==0.2.4
drf-excel==2.5.3
drf-flex-fields==1.0.2
duckdb==1.1.2
edist==1.2.2
editdistance==0.8.1
einops==0.8.1
elementpath==4.5.0
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup==1.2.0
executing==2.1.0
facexlib==0.3.0
fairscale==0.4.13
faiss-cpu==1.7.4
faiss-gpu==1.7.2
falcon==3.1.3
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.20.0
fastprogress==1.0.3
fasttext==0.9.2
feedparser==6.0.10
ffmpy==0.3.2
fiddle==0.3.0
filelock==3.13.0
filetype==1.2.0
filterpy==1.4.5
findfile==2.0.1
fire==0.5.0
flash_attn==2.8.3
Flask==3.0.0
flatbuffers==24.3.25
flatten-json==0.1.14
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.12.0
ftfy==6.3.1
future==1.0.0
fuzzy-rough-learn==0.2.2
fuzzywuzzy==0.18.0
gensim==4.3.3
gguf==0.10.0
git-filter-repo==2.47.0
gitdb==4.0.11
GitPython==3.1.40
gliner==0.2.17
gradio==4.43.0
gradio_client==1.3.0
graphviz==0.20.3
greenlet==3.0.3
groq==0.9.0
grpcio==1.74.0
grpcio-tools==1.74.0
h11==0.14.0
h2==4.2.0
h5py==3.15.1
hdbscan==0.8.33
hf-xet==1.1.5
hlda==0.3.1
hpack==4.1.0
html5lib-modern==1.2
htmlmin==0.1.12
httpcore==1.0.4
httpstan==4.12.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.34.3
humanfriendly==10.0
humanize==4.11.0
hydra-core==1.3.2
hyperframe==6.1.0
icecream==2.1.8
identify==2.6.15
idna==3.4
igraph==0.11.4
image-quality==1.2.7
ImageHash==4.3.1
imageio==2.37.0
imagesize==1.4.1
imbalanced-learn==0.12.0
imgaug==0.4.0
importlib_metadata==8.7.0
importlib_resources==6.4.5
indic_numtowords==1.0.2
inflect==7.5.0
iniconfig==2.1.0
install==1.3.5
interegular==0.3.3
intervaltree==3.1.0
ipykernel==6.29.5
ipyplot==1.1.2
ipython==8.28.0
ipywidgets==8.1.1
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.9.0
Jinja2==3.1.2
jiter==0.7.1
jiwer==3.1.0
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kaldi-python-io==1.2.2
keyring==25.6.0
keyrings.alt==5.0.2
kiwisolver==1.4.7
kneed==0.8.5
krippendorff==0.8.1
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-experimental==0.3.4
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.3.9
lark==1.2.2
lazy_loader==0.4
ldap3==2.9.1
leidenalg==0.10.2
Levenshtein==0.23.0
lhotse==1.30.3
libcst==1.8.2
librosa==0.11.0
libsvm==3.23.0.4
lightning==2.4.0
lightning-utilities==0.15.2
lilcom==1.8.1
linkify-it-py==2.0.3
llama-index==0.6.8
llvmlite==0.42.0
lm-format-enforcer==0.10.9
lmdb==1.7.3
loguru==0.7.2
lxml==6.0.0
Mako==1.3.5
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.21.2
matplotlib==3.8.2
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapy==1.1.6
metis==0.2a5
metric-visualizer==0.9.13.post1
mistral_common==1.5.1
mistune==3.0.2
mmocr==1.0.1
modelscope==1.31.0
more-itertools==8.10.0
morph_kgc==2.8.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
mteb==1.38.11
multidict==6.0.5
multimethod==1.12
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.47.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
NEMO==7.2.4
nemo-toolkit==2.4.0
nest-asyncio==1.6.0
netCDF4==1.6.5
networkx==3.2.1
nlp==0.4.0
nltk==3.8.1
nodeenv==1.9.1
notebook==7.2.2
notebook_shim==0.2.4
num2words==0.5.14
numba==0.59.0
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
ollama==0.4.7
omegaconf==2.3.0
onnx==1.17.0
onnx-graphsurgeon==0.5.2
onnxruntime==1.19.2
openai==1.55.0
openai-clip==1.0.1
openai-whisper==20240930
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
openTSNE==1.0.2
opt-einsum==3.3.0
optuna==3.6.1
orange-canvas-core==0.2.5
orange-widget-base==4.25.1
Orange3==3.38.1
orjson==3.10.5
outlines==0.0.46
overrides==7.7.0
packaging==24.2
pacmap==0.7.3
paddleocr==3.3.0
paddlex==3.3.4
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
pastel==0.2.1
patsy==0.5.6
peft==0.16.0
pexpect==4.9.0
pgmpy==0.1.25
phik==0.12.4
pillow==10.4.0
piq==0.8.0
plac==1.4.5
platformdirs==4.3.6
playwright==1.47.0
plotly==6.2.0
pluggy==1.6.0
polars==1.29.0
pooch==1.8.2
portalocker==2.10.1
pre_commit==4.3.0
preshed==3.0.9
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
proto-dist-ml==1.0.1
protobuf==6.32.0
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyairports==2.1.1
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pybind11==2.13.1
pyclipper==1.3.0.post6
pycocotools==2.0.10
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydot==2.0.0
pydub==0.25.1
pyee==12.0.0
Pygments==2.17.2
PyGObject==3.42.1
pygraphviz==1.11
pyiqa==0.1.14.1
pylev==1.4.0
pyloudnorm==0.1.1
pymodbus==3.8.6
pynndescent==0.5.13
pyoxigraph==0.3.22
pyparsing==3.1.2
pypdfium2==4.30.0
pyqtgraph==0.13.7
pyrsistent==0.18.1
pysimdjson==6.0.2
pystan==3.9.1
pytesseract==0.3.13
pytest==8.4.2
python-apt==2.4.0+ubuntu4
python-bidi==0.6.6
python-dateutil==2.9.0
python-debian==0.1.43+ubuntu1.1
python-doctr==1.0.0
python-docx==1.1.2
python-dotenv==1.0.1
python-igraph==0.11.4
python-json-logger==2.0.7
python-Levenshtein==0.23.0
python-louvain==0.16
python-multipart==0.0.9
pytorch-lightning==2.5.2
pytorch-warmup==0.1.1
pytrec_eval-terrier==0.5.7
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.2
pyzmq==26.2.0
qasync==0.27.1
qdrant-client==1.11.3
qtconsole==5.6.1
QtPy==2.4.3
RapidFuzz==3.13.0
ray==2.34.0
rdflib==7.1.0
referencing==0.35.1
regex==2023.10.3
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rouge_score==0.1.2
roughsets-base==1.0.1.2
rpds-py==0.20.0
ruamel.yaml==0.18.0
ruamel.yaml.clib==0.2.9
ruff==0.7.0
s-dbw==0.4.0
sacrebleu==2.5.1
sacremoses==0.1.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.5.2
scikit-posthocs==0.11.4
scipy==1.13.1
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
sentry-sdk==2.34.1
seqeval==1.2.2
serverfiles==0.3.1
sewar==0.4.6
sgmllib3k==1.0.0
shap==0.45.0
shapely==2.1.2
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
sox==1.5.0
soxr==0.5.0.post1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.31
sqlparse==0.5.3
srsly==2.4.8
stack-data==0.6.3
stanfordnlp==0.2.0
starlette==0.37.2
statsmodels==0.14.2
surya-ocr==0.17.0
sympy==1.14.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.17.1
texterrors==0.5.1
texttable==1.7.0
Theano-PyMC==1.1.2
thinc==8.2.1
threadpoolctl==3.2.0
tifffile==2025.5.10
tiktoken==0.7.0
tikzplotlib==0.10.1
timm==1.0.20
tinycss2==1.3.0
tokenizers==0.22.1
tomli==2.0.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.8.0
torchaudio==2.6.0
torchmetrics==1.8.0
torchtext==0.18.0
torchvision==0.23.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.57.0
triton==3.4.0
trl==0.8.1
typeguard==4.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.15.0
tyro==0.7.3
tzdata==2023.3
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ucimlrepo==0.0.7
ujson==5.10.0
umap-learn==0.5.7
update-checker==0.18.0
uri-template==1.3.0
url-normalize==2.2.1
urllib3==2.2.3
uvicorn==0.30.1
uvloop==0.19.0
validators==0.35.0
validclust==0.1.1
verovio==5.1.0
virtualenv==20.35.3
visions==0.7.6
wandb==0.21.0
wasabi==1.1.2
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.3.3
webargs==8.4.0
webcolors==24.8.0
webdataset==1.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
whisper_normalizer==0.1.12
widgetsnbextension==4.0.9
wordcloud==1.9.3
wrapt==1.16.0
xarray==2023.12.0
xarray-einstats==0.6.0
xgboost==2.0.3
xkcdpass==1.19.9
xlrd==2.0.1
XlsxWriter==3.1.9
xxhash==3.4.1
yapf==0.43.0
yarl==1.9.4
yatter==1.1.5
ydata-profiling==4.11.0
zenodo-get==1.6.1
zipp==3.21.0
zss==1.2.0
zstandard==0.23.0
